extends ../common/layouts/base

block content
    h3 #{video.views} #{video.views === 1? 'view' : 'views'}
    div 
        p=video.description
        div 
            b hashtags :
            ul
                each hashtag in video.hashtags
                    li=hashtag
        small=video.createAt
    a(href=`${video.id}/edit`) Edit Video &rarr;
    br
    a(href=`${video.id}/delete`) Delete Video &rarr;